@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.font-urbanist {
  font-family: var(--font-urbanist)
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-workSans {
  font-family: var(--font-work-sans);
}

.font-inter {
  font-family: var(--font-inter);
}

.container {
  @apply w-[90%] sm:w-[90%] md:w-[90%] lg:w-[89%]
}